html, body {
    
    background-image: url(assets/technology/background-technology-desktop.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    
}



.burger {
    display: none;
    align-self: center;
}

main {
    margin:0;
    padding:0 0 2.5rem 14rem;
    display: flex;
    max-width: 2160px;
    justify-self: center;
    align-self: center;
}
.destinations-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
    
    
    margin: 0;
    
    width: auto;

}
.tri-options {
    order:1;
    display: flex;
    flex-direction: column;
    
    
    margin-right: 4rem;
}
.choices {
    border: 1px solid white;
    background-color:transparent;
    color: white;
    margin-top: 4rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.7rem;
    cursor: pointer;
}
.choices:hover {
    background-color: white !important;
    color: black !important;
}


.destinations-wrapper h3 {
    
    color: white;
    font-family: "Barlow Condensed",serif;
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: -1rem;
}
.technology-container {
    display: flex;
    gap: 0;
    flex: 1;   

}
.technology-image-container {
    
    order: 2;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1;
    
    

}
.landscape {
    display: none;
}
.technology-image-container img {
    width: 90%;
    margin-top: -4rem;
}

.technology-details-container {
    width: auto;
    flex:1;
    
    order:1;
    display: flex;
    flex-direction: column;
    
    
}




.technology-details-container h4 {
    font-family: "Barlow Condensed",serif;
    font-weight:100 ;
    color: white;
    font-size: 2.5rem;
}
.technology-details-container h1 {
    text-transform: uppercase;
    font-family: "Bellefair",serif;
    color: white;
    font-size: 4rem;
    font-weight: 300;
    order:1;
}
.technology-details-container p {
    
    color: white;
    font-family:"Barlow Condensed",serif;
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: -1rem;

    

}